.text-title {
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
    margin-left: 120px;
}

.text-subtitle {
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    margin-top: 50px;
    margin-bottom: 56px;
    margin-left: 98px;
}

.btn-home {
    margin-left: 100px;
}