.search-contanier {
    margin-top: 54px;
    padding-left: 90px;
    padding-right: 99px;
}

.search-content {
    background: #E6F7FF;
    width: 1251px;
    height: 270px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
}

.text-title-perfil {
    margin-left: 94px;
    padding-top: 66px;
    width: 502px;
    height: 46px;
    left: 94px;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.input-login {
    width: 670px;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0%;
    margin-left: 94px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 55px;
}

.btn-encontrar {
    margin-left: 94px;
    margin-top: 24px;
}

.login-git {
    width: 626px;
    top: 8px;
    margin-left: 17px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.search-result-contanier {
    margin-top: 54px;
}

.search-result-content {
    width: 1251px;
    height: 387px;
    left: 0px;
    top: 0px;
    background: #F5F5F5;
    border-radius: 8px;
}

.search-content-btn {
    margin-left: 95px;
    margin-top: 30px;
}

.result-git-info {
    width: 846px;
    height: 100px;
    padding-top: 0px;
    /*background: #DEDEDE;*/
    background: #F5F5F5;
    border-radius: 8px;
}

.result-git-info-details {
    width: 870px;
    height: 247px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 15px;
}

.result-git-info-title {
    width: 434px;
    height: 28px;
    left: 14px;
    top: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1890FF;
}

.result-git-image {
    width: 284px;
    height: 280px;
    left: 30px;
    top: 23px;
    background: #DEDEDE;
    border-radius: 8px;
}

.result-git-info-company {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 839px;
    margin-bottom: 5px;
}

.result-git-info-company-paragrafo {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
}

.result-git-info-blog {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 839px;
    margin-bottom: 5px;
}

.result-git-info-location {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 839px;
    margin-bottom: 5px;
}

.result-git-info-membro {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 839px;
}

.result-git-info-btn-perfil{
    margin-top: 5px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;;
  }

.flex-row {
    display: flex;
    flex-direction: row; 
    background: #F5F5F5;
} 

.flex-col {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 8px;
    padding-left: 0px;
}

.flex-col-img{
  padding-top: 40px;
  padding-right: 44px;
  padding-left: 23px;
  margin: 0 5px 0 0;
  background: #F5F5F5;
}

.flex-col-info{
    padding-top: 40px;
    padding-left: 0px;
    margin: 0 5px 0 0;
    background: #F5F5F5;
    border-radius: 8px;
  }
